name: Build

on: [push]

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    
    steps:
    - uses: actions/checkout@v3
    - uses: swift-actions/setup-swift@v1
    - name: Build
      run: swift build -c release
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: archive-dirs-${{ matrix.os }}
        path: .build/release/archive-dirs*
        